:root {
  /* --background: #ffffff;
  --background: #0a0a0a; */
  --black: #171717;
  --white: #ededed;
}

body {
  color: var(--black);
  margin-bottom: 11rem;
  /* font-size: 200%; */
}

.brico {
  font-family: "bricolage grotesque";
}

a {
  color: inherit;
  text-decoration: none;
}

.brand {
  margin-inline-end: 3rem;
  font-size: 3em;
}

.shadow-primary {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.shadow-secondary {
  box-shadow: 3px 1px 0 2px var(--black), 0 -1px 0 2px var(--black);
}

.issue-card > div {
  height: 200px;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
}

.issue-card h2 a:hover {
  color: saddlebrown;
}

.issue-description p + p {
  margin-top: 3rem;
}
